In [2]:
import sklearn 
import pandas as pd
import numpy as np

In [12]:
#categories = ['alt.atheism', 'soc.religion.christian',
#          'comp.graphics', 'sci.med']

In [4]:
#from sklearn.datasets import fetch_20newsgroups
#twenty_train = fetch_20newsgroups(subset='train',
    # categories=categories, shuffle=True, random_state=42)

In [4]:
df_dreams = pd.read_csv('data/rsos_dream_data.csv')
df_dreams.head(8)

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
0,1.0,alta,Alta: a detailed dreamer,1957,en,"The one at the Meads's house, where it's bigge...","2ISA, 1MKA, 1FDA, 1IOA, 2ISA",NaN,2IKA > Q,2IKA 4> Q,...,0.5,0,0.2,0.2,0,0,0.2,0.2,0,0
1,2.0,alta,Alta: a detailed dreamer,8/11/67,en,I'm at a family reunion in a large fine house ...,"2ISA, people, 2ISA",SD 2IKA,"D > Q, Q > 2ISA",NaN,...,0,0,0,0,0,1,0.666666667,0,0,1
2,3.0,alta,Alta: a detailed dreamer,8/1/85,en,I watch a plane fly past and shortly realize i...,"2ISA, 2ISA, 1FSA, 1MBA, 1IOA, 2ISA, 2FDA","SD 1ISA, AP D, AP D","It PRP >, It PRP >, D > 1FKA",NaN,...,0.333333333,0,0,0.285714286,0,1,0.428571429,0,0,1
3,4.0,alta,Alta: a detailed dreamer,1985?,en,Me pulling the green leaves and berries off so...,"1MAA, 1FMA, 2ISA, 2IKA, 1ANI, 1ANI, 1IOA, 2ISA...","SD 2ISA, SD D","Q > Q, 2ISA > Q, 2ISA > Q, D > 1MSA","1IKA 4> Q, 2ISA 4> 2ISA",...,0.666666667,0.176470588,0.142857143,0.142857143,0,1,0.235294118,0.117647059,0,1
4,5.0,alta,Alta: a detailed dreamer,1985?,en,I'm in a room that reminds me of (but definite...,"1IRA, 1MSA, 1ISA, 2ISA, 1ISA, 1IKA","AP D, AP D, AP 1MSA, CO D, SD D, AP D","1MSA > D, Q > Q, D > 2IKA, D > 2IKA, D > 1MSA,...",D 4> Q,...,1,0,0.166666667,0.166666667,0,0.875,1.333333333,0.166666667,0,1
5,6.0,alta,Alta: a detailed dreamer,1985?,en,Living next door to Loretta in an apartment - ...,"1FSA, 2ISA, 1FDA, 1IIC",HA 1FSA,D > 2IKA,NaN,...,0,0,0,0.5,0,1,0.25,0,0,0
6,7.0,alta,Alta: a detailed dreamer,1985?,en,Kidnapped - I'm on my way somewhere else (by c...,"2ISA, 2IOA, 1IOA, 1ISA, 2IKA, 2ISA, 2ISA","AN 1ISA, AN D, SD 2ISA, AN D","Q > 2IKA, D > 2ISA, D > Q, 2IKA > D, D > Q, 1I...",NaN,...,0,0,0.142857143,0,0,1,1.571428571,0,0,1
7,8.0,alta,Alta: a detailed dreamer,1985?,en,"I'm alone in an apartment - old place, inside ...","2ISA, 1ISA, 1ISA","AP D, SD D","D > D, 1MSA > D, 1MSA > D, D > 1MSA, D > D, D ...",D 4> D,...,0,0,0,0,0,0.888888889,2.666666667,0.333333333,0,1
8,9.0,alta,Alta: a detailed dreamer,1985?,en,I'm somewhere with a friend I don't want to be...,"1IKA, stepfather, 1ISB, 1MSA",NaN,D > Q,NaN,...,1,0,0.25,0,0,1,0.25,0,0,0
9,10.0,alta,Alta: a detailed dreamer,1985?,en,"I am in some public place, reminds me of the g...","2ISA, 1MKA",NaN,NaN,NaN,...,1,0,0.5,0,0,0,0,0,0,0

# data cleaining steps:

1. drop Null values (df.dropna())
2. split columns on comma (to keep the first emotion) (df['column_name'].apply(lambda x: x.split(',')[0])
2.5 you might have to remove trainling whitespaces df['col'].apply(lambda x: x.strip())
3. check all the unique values in your column so you can verify all those emotion codes are valid df['column_name'].value_counts()
4.

In [6]:
df_dreams.dropna()

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
24,25.0,alta,Alta: a detailed dreamer,1/22/86,en,"I'm going down a walkway between little, close...","1ISA, 1ISA, 1ISA, 2ISA, 1FMA, 1MKA","CO 1IKA, AN D, HA 1MKA, SD D","D > Q, D > D, D > 1MSA, D > 1MSA, 1MSA > 1MSA,...","D 4> 2ISA, D 4> 2ISA",...,0.5,0,0.166666667,0.166666667,0,0.714285714,1,0.333333333,0.166666667,0.75
46,48.0,alta,Alta: a detailed dreamer,2/20/86,en,"I'm in a car with Dan, William Shatner, and so...","1ISA, William, 2ISA, 2ISA, 1FSA, 1FSA",AP 2ISA,"D > we, 2ISA > 2IKA","D 4> 2ISA, 2ISA 4> D, D 4> Q",...,0,0,0,0,0,0.25,0.333333333,0.5,0.333333333,1
54,56.0,alta,Alta: a detailed dreamer,2/26/86,en,"I'm on a bus, sitting forward, with my shawl o...","1FDA, 1IOA, 1IIC, 2ISA, 1ISA, 1IHA, 2FSA, 1IOA...","CO D, AP 1FSA, AP 2ISA, AP 1FKA","1IIC > 2IKA, D > 1IKA",1FKA 4> we,...,0,0,0,0.333333333,0,1,0.222222222,0.111111111,0.111111111,1
65,67.0,alta,Alta: a detailed dreamer,3/13/86,en,"I have been in this place before, a flea-marke...","craftsman, 1ISA, 2ISA, 2MKA, 2ISA",AN 2ISA,2ISA 1> Q,D 4> D,...,1,0,0.2,0,0,0,0.2,0.2,0.2,1
69,71.0,alta,Alta: a detailed dreamer,3/15/86,en,"I'm in a room in an old building, maybe a scho...","2ISA, 2ISA, 1ISA, 2IKA, 1FDA, 1ISA, 1ISA","AP D, HA D","D > Q, D > Q, D > Q, D > Q",1IKA 4> Q,...,0,0,0.142857143,0.142857143,0,1,0.571428571,0.142857143,0.285714286,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20948,33014.0,west_coast_teens,West Coast teenage girls,"F, age 14",en,I was at a fairground on a sunny day in the pa...,"1MKA, 1MAA, 2ISA","HA D, HA D","1MKA > us, 1MSA > D, D > 1MKA, D > 1MKA, 1MSA > D",1MSA 4> D,...,1,0,0.333333333,0.333333333,0,0.8,1.666666667,0.333333333,0.333333333,0
20958,33025.0,west_coast_teens,West Coast teenage girls,"F, age 16",en,I was driving in a car with a girl whom I disl...,"1FSA, 2ISA, 1ISA, 1ISA, 2ISA, 1FSA",AN D,"1FSA > D, D > 1FSA, D > D, 1MSA > D, D > 1MSA,...","D 4> Q, D 4> him, D 4> 1FKA, 1MSA 4> D",...,0,0,0,0,0,0.6,1,0.666666667,0.333333333,1
20959,33026.0,west_coast_teens,West Coast teenage girls,"F, age 16",en,"I was in the grocery store, wandering up and d...","1FSA, 2ISA, 1ISA, 1ISA, 2ISA, 1FSA, 1ISA, 2IKA","CO 1IKA, AP D","D > Q, D > PRP, D > PRP, D > 2ISA, D > Q","1MSA 4> D, D 4> D, 1IKA 4> Q",...,0,0,0.125,0,0,0.714285714,0.625,0.375,0.125,1
20988,33055.0,west_coast_teens,West Coast teenage girls,"F, age 17",en,I had a dream that I was going to college. I w...,"2ISA, everyone, 1FMA, 2ISA, 1IKA, 1IOA",SD D,D > 2IKA,"D 4> 2IKA, Q 4> Q, D 4> 2IKA",...,0,0,0.166666667,0.166666667,0,0.333333333,0.166666667,0.5,0.166666667,1
20999,33066.0,west_coast_teens,West Coast teenage girls,"F, age 18",en,I felt scared. I was pregnant in my dream. The...,"2IKA, 1FMA, 1ISA, 1MFA","AP D, AP D","2IKA > us, 2ISA > D, 2IKA > us",2ISA 4> D,...,0.5,0,0.25,0.5,0,0.5,0.75,0.25,0.5,1

#### Splitting emotions_code column to keep only the first emotion code.

In [11]:
new = df_dreams['emotions_code'].str.split(" ", n = 1, expand = True)

In [13]:
df_dreams["emotion_code"]= new[0]

In [15]:
df_dreams["emotion_code_tail"]= new[1]

In [16]:
df_dreams.drop(columns =["emotions_code"], inplace = True)

In [22]:
df_dreams["emotion_code"].value_counts()

AP             3503
HA             2161
AN             2117
CO             1682
SD             1612
AP1IKA,           2
CO1IKA,           2
AP1IKA            2
MAN1MKA           1
CO1IKA            1
WOMAN2IDA         1
INDIAN1IEA        1
REAGAN1IKA,       1
Name: emotion_code, dtype: int64

In [24]:
code_definition = {
    'AP': 'Apprehension',
    'HA': 'Happiness',
    'AN': 'Anger',
    'CO': 'Confusion',
    'SD': 'Sadness'
}

print(code_definition)

{'AP': 'Apprehension', 'HA': 'Happiness', 'AN': 'Anger', 'CO': 'Confusion', 'SD': 'Sadness'}

In [5]:
df_dreams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21001 entries, 0 to 21000
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dream_id                 21000 non-null  float64
 1   dreamer                  21000 non-null  object
 2   description              21000 non-null  object
 3   dream_date               21000 non-null  object
 4   dream_language           21000 non-null  object
 5   text_dream               21000 non-null  object
 6   characters_code          20532 non-null  object
 7   emotions_code            11086 non-null  object
 8   aggression_code          15432 non-null  object
 9   friendliness_code        11239 non-null  object
 10  sexuality_code           6470 non-null   object
 11  Male                     21001 non-null  object
 12  Animal                   21001 non-null  object
 13  Friends                  21001 non-null  object
 14  Family                   21001 non-null  object
 15  Dead&Imaginary           21001 non-null  object
 16  Aggression/Friendliness  21001 non-null  object
 17  A/CIndex                 21001 non-null  object
 18  F/CIndex                 21001 non-null  object
 19  S/CIndex                 21001 non-null  object
 20  NegativeEmotions         21001 non-null  object
dtypes: float64(1), object(20)
memory usage: 3.4+ MB

In [26]:
#emo_train = df_dreams(subset='train',
     #categories=code_definition, shuffle=True, random_state=42)

TypeError: 'DataFrame' object is not callable

In [ ]:
#emo_train.target_names

In [ ]:
#len(twenty_train.data)

#len(twenty_train.filenames)

In [ ]:
#print("\n".join(twenty_train.data[0].split("\n")[:3]))

In [ ]:
#print(twenty_train.target_names[twenty_train.target[0]])

In [ ]:
#twenty_train.target[:10]

In [ ]:
#for t in twenty_train.target[:10]:
    #print(twenty_train.target_names[t])

In [35]:
df_dreams['text_dream'].str.lower()

0        the one at the meads's house, where it's bigge...
1        i'm at a family reunion in a large fine house ...
2        i watch a plane fly past and shortly realize i...
3        me pulling the green leaves and berries off so...
4        i'm in a room that reminds me of (but definite...
                               ...
20996    two weeks ago this guy asked me to senior ball...
20997    my boyfriend just broke up with me so he was o...
20998    i was in my backyard and i was flying. i would...
20999    i felt scared. i was pregnant in my dream. the...
21000                                                  NaN
Name: text_dream, Length: 21001, dtype: object

In [39]:
df_dreams = df_dreams[df_dreams['text_dream'].notna()]

In [43]:
##df_dreams.isnull()

Empty DataFrame
Columns: [dream_id, dreamer, description, dream_date, dream_language, text_dream, characters_code, aggression_code, friendliness_code, sexuality_code, Male, Animal, Friends, Family, Dead&Imaginary, Aggression/Friendliness, A/CIndex, F/CIndex, S/CIndex, NegativeEmotions, emotion_code, emotion_code_tail]
Index: []

[0 rows x 22 columns]

In [45]:
df_dreams.info

<bound method DataFrame.info of Empty DataFrame
Columns: [dream_id, dreamer, description, dream_date, dream_language, text_dream, characters_code, aggression_code, friendliness_code, sexuality_code, Male, Animal, Friends, Family, Dead&Imaginary, Aggression/Friendliness, A/CIndex, F/CIndex, S/CIndex, NegativeEmotions, emotion_code, emotion_code_tail]
Index: []

[0 rows x 22 columns]>

In [ ]:
dream_text = df_dreams['text_dream']
print(dream_text)

### Tokenizing text with scikit-learn

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(dream_text)
X_train_counts.shape

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [14]:
count_vect.vocabulary_.get(u'algorithm')

4690

### Term frequencies

In [15]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X_train_counts)
X_train_tf = tf_transformer.transform(X_train_counts)
X_train_tf.shape

(2257, 35788)

In [16]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(2257, 35788)

### Training a classifier

In [18]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier().fit(X_train_tfidf, twenty_train.target)

# clf = RandomForestClassifier(n_estimators=10, max_depth=None,
    #min_samples_split=2, random_state=42)
#scores = cross_val_score(clf, X, y, cv=5)
#scores.mean()

In [19]:
docs_new = ['God is love', 'OpenGL on the GPU is fast']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = clf.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print('%r => %s' % (doc, twenty_train.target_names[category]))

'God is love' => comp.graphics
'OpenGL on the GPU is fast' => comp.graphics

#### Building a pipeline

In [20]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', RandomForestClassifier()),
])

In [21]:
text_clf.fit(twenty_train.data, twenty_train.target)

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier())])

### Evaluating performance of test set

In [22]:
twenty_test = fetch_20newsgroups(subset='test',
    categories=categories, shuffle=True, random_state=42)
docs_test = twenty_test.data
predicted = text_clf.predict(docs_test)
np.mean(predicted == twenty_test.target)

0.8069241011984021

### Parameter tuning with grid search

In [44]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'clf__n_estimators': [50, 100, 200, 500],
    'clf__max_features': [2, 4, 6, 8],
}

In [45]:
gs_clf = GridSearchCV(text_clf, param_grid, cv=5, n_jobs=-1)

In [49]:
gs_clf = gs_clf.fit(twenty_train.data[:400], twenty_train.target[:400])

In [50]:
twenty_train.target_names[gs_clf.predict(['God is love'])[0]]

#below output of comp.graphics seems incorrect. in tutorial the output is soc.religion.christian

'comp.graphics'

In [57]:
print("Best parameter (CV score=%0.3f):" % gs_clf.best_score_)
print(gs_clf.best_params_)

Best parameter (CV score=0.835):
{'clf__max_features': 2, 'clf__n_estimators': 500}